
@{
    ViewData["Title"] = "Registrar";
}

<h1>Registrar</h1>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registrar</h3>
                </div>
                <img src="~/imagen/p.png"  class="mx-auto w-25" />
            </div>
        </div>
    </div>
</div>
